@inherits LayoutComponentBase

<div class="pageLogin" style=" background-image: url(@img)">
    <div class="col-12" style="position: absolute; top: 15%;">
        <br /><br />
        @Body
    </div>
</div>
